
<br>

    <div>
        <div class="table">
            <table>
                <tr>                            
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <th>G</th>
                    <th>O</th>
                </tr>  
                <tr>
                    <td id="square0-0"><figure><img src="/assets/train.svg" alt=""><figcaption>Train</figcaption></figure></td>
                    <td id="square0-1"><figure><img src="/assets/carry-on.svg" alt=""><figcaption>Carry-On Luggage</figcaption></figure></td>
                    <td id="square0-2"><figure><img src="/assets/escalator.svg" alt=""><figcaption>Escalator</figcaption></figure></td>
                    <td id="square0-3"><figure><img src="/assets/flight-attendant.svg" alt=""><figcaption>Flight Attendant</figcaption></figure></td>
                    <td id="square0-4"><figure><img src="/assets/ground-crew.svg" alt=""><figcaption>Ground Crew</figcaption></figure></td>
                </tr>
                <tr>
                    <td id="square1-0"><figure><img src="/assets/coffee-cup.svg" alt=""><figcaption>Coffee Cup</figcaption></figure></td>
                    <td id="square1-1"><figure><img src="/assets/metal-detector.svg" alt=""><figcaption>Metal Detector</figcaption></figure></td>
                    <td id="square1-2"><figure><img src="/assets/people-mover.svg" alt=""><figcaption>People Mover</figcaption></figure></td>
                    <td id="square1-3"><figure><img src="/assets/person-wand.svg" alt=""><figcaption>Person Being Wanded</figcaption></figure></td>
                    <td id="square1-4"><figure><img src="/assets/pilot.svg" alt=""><figcaption>Pilot</figcaption></figure></td>
                </tr>
                <tr>
                    <td id="square2-0"><figure><img src="/assets/police-officer.svg" alt=""><figcaption>Police Officer</figcaption></figure></td>
                    <td id="square2-1"><figure><img src="/assets/take-off.svg" alt=""><figcaption>Plane Taking Off</figcaption></figure></td>
                    <td id="square2-2"><figure><img src="/assets/bingo.svg" alt=""><figcaption>Kid Playing Bingo</figcaption></figure></td>
                    <td id="square2-3"><figure><img src="/assets/tower.svg" alt=""><figcaption>Tower</figcaption></figure></td>
                    <td id="square2-4"><figure><img src="/assets/baby.svg" alt=""><figcaption>Baby</figcaption></figure></td>
                </tr>
                <tr>
                    <td id="square3-0"><figure><img src="/assets/person-laptop.svg" alt=""><figcaption>Person Using Laptop</figcaption></figure></td>
                    <td id="square3-1"><figure><img src="/assets/taxi.svg" alt=""><figcaption>Taxi</figcaption></figure></td>
                    <td id="square3-2"><figure><img src="/assets/passport.svg" alt=""><figcaption>Passport</figcaption></figure></td>
                    <td id="square3-3"><figure><img src="/assets/newspaper.svg" alt=""><figcaption>Newspaper</figcaption></figure></td>
                    <td id="square3-4"><figure><img src="/assets/police-dog.svg" alt=""><figcaption>Police Dog</figcaption></figure></td>
                </tr>
                <tr>
                    <td id="square4-0"><figure><img src="/assets/jetway.svg" alt=""><figcaption>Jetway</figcaption></figure></td>
                    <td id="square4-1"><figure><img src="/assets/people-eating.svg" alt=""><figcaption>People Eating</figcaption></figure></td>
                    <td id="square4-2"><figure><img src="/assets/plane-ticket.svg" alt=""><figcaption>Plane Ticket</figcaption></figure></td>
                    <td id="square4-3"><figure><img src="/assets/baby-bottle.svg" alt=""><figcaption>Baby Bottle</figcaption></figure></td>
                    <td id="square4-4"><figure><img src="/assets/person-sleeping.svg" alt=""><figcaption>Person Sleeping</figcaption></figure></td>
                </tr>
            </table>
        </div>
   
</div>

