<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Travel Bingo</h1>

  <p>
    Travel Bingo was built by <a target="_blank" href="https://github.com/damiand33">Damian Dickerson.</a>  He is currently studying to be a web developer with the <a target="_blank" href="http://www.thefirehoseproject.com/">Firehose Project.</a>    
  </p>
  <br>
  <p>
    In addition to being a Ruby on Rails Padawan, Damian is an amateur BBQ Pitmaster and lover of all things BBQ.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'damian.JPG', class: 'img-responsive damian-picture' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Damian Dickerson</h2>
  <br>
  <p>
    Damian Dickerson is a senior business analyst at RAC Management Services. Prior to joining RAC, he was a lead associate at Booz Allen Hamilton. He is also a Navy Reservist, currently serving as the Executive Officer for Afloat Mission Control-East.
  </p>
  </div>

</div>

<br class="clear">
<br>
<br>
<br>
<br>
