@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 25px;
 
}

.clear {
  clear: both;
}

.img-title {
  height: 50%;
  width: 50%;
}

.damian-picture {
  height: 100%;
  width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, td {
  border: 1px solid black;
}

th, td {
 
  text-align: center; 
  align-items: center;
  align-content: center;
  padding: 15px;

}

td img {
  display: inline;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

img {
  width: 40px;
  height: 40px;

}

th {
  height: 65px;
  width: 95px; 
  font-size: x-large;
  background-color: #00B050;
  color: #FFFFFF;
  text-align: center;
}

td {
  height: 95px;
  width: 95px; 
  cursor: pointer;
  background-color: #FFFFFF;
}

td.selected {
  background-color: #5E52D4;
  font-weight: bold;
}

.links {
  padding-top: 15px;
}

.links a {
  color: 0000cc;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: sans-serif;
  font-weight: bold;
}