@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 5px;
 
}

.clear {
  clear: both;
}

.img-title {
  height: 50%;
  width: 50%;
}

.damian-picture {
  height: 100%;
  width: 100%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, td {
  border: 1px solid black;
}

th, td {
  height: 95px;
  width: 95px;  
  text-align: center; 
  align-items: center;
  align-content: center;
  padding: 15px;

}

td img {
  display: inline;
}

figcaption {
  text-align: center;
  font-size: 10px;
}

img {
  width: 40px;
  height: 40px;

}

th {
  height: 65px;
  font-size: x-large;
  background-color: #00B050;
  color: #FFFFFF;
  text-align: center;
}

td {
  cursor: pointer;
  background-color: #FFFFFF;
}

td.selected {
  background-color: #5E52D4;
  font-weight: bold;
}

.links {
  padding-top: 15px;
}

.links a {
  color: 0000cc;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'sinkin_sans400_regular', sans-serif;
  font-weight: bold;
}

@media only screen 
    and (min-device-width : 375px) // or 213.4375em
    and (max-device-width : 667px) // or 41.6875em

{ 

body {
  
  background-color: #FFFFFF;
}

.booyah-box {
  display: none;
}

  th, td {
  height: 40px;
  width: 400px;  
  text-align: center; 
  align-items: center;
  align-content: center;
  padding: 10px;

}

td img {
  display: inline;
}

figcaption {
  text-align: center;
  font-size: 6px;
}

img {
  width: 22px;
  height: 22px;

}

th {
  font-size: 15px;
  background-color: #4BCC3A;
  color: #FFFFFF;
  text-align: center;
}

}